form {
   margin-left: 100px;
   margin-top: 100px;
   padding: 50px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 4px;
}
.circle {
   width: 122px;
   height: 122px;
   border-radius: 50%;
   background-color: #e6ebff;
}
