div {
   background-color: white;
}
h1 {
   color: rgb(145, 118, 118);
}
.list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 48px;
   max-width: 388px;
   width: 388px;
   height: 98px;
   background-color: #c15353;
   border-radius: 4px;
   color: rgb(232, 84, 84);
}
