.form {
   position: absolute;
   top: 40px;
   left: 50%;
   transform: translate(-50%, 0);
   width: 90%;
   max-width: 588px;
   height: 686px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 4px;
}

.h3 {
   font-size: 48px;
   width: 80%;
   height: 67px;
   max-width: 277px;
   color: #000000;
   text-align: center;
   font-weight: 600;
   text-transform: capitalize;
   letter-spacing: 0px;
   margin-top: 33px;
   margin-bottom: 44px;
   font: normal normal 300 48px/72px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: capitalize;
   opacity: 1;
}

.h2 {
   width: 80%;
   max-width: 136px;
   height: 31px;
   color: #000000;
   text-align: center;
   font-weight: 300;
   text-transform: lowercase;
   letter-spacing: 0px;
   margin-bottom: 10px;
   font-size: 22px;
   font: normal normal 300 22px/33px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: lowercase;
   opacity: 1;
}

.h4 {
   height: 31px;
   color: #000000;
   text-align: center;
   font-weight: 300;
   text-transform: lowercase;
   letter-spacing: 0px;
   margin-top: 53px;
   margin-bottom: 16px;
   font: normal normal 300 22px/33px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: lowercase;
   opacity: 1;
}

.circle {
   width: 122px;
   height: 122px;
   border-radius: 50%;
   background-color: #e6ebff;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.nameinput {
   background-color: #e6ebff;
   border-radius: 4px;
   border: none;
   width: 80%;
   max-width: 487px;
   height: 76px;
   margin-bottom: 76px;
   font-size: 22px;
   text-align: center;
   padding-left: 22px;
}

.signinbtn {
   font-size: 19px;
   padding: 11px 77px 10px 77px;
   background-color: #5efc8d;
   border-radius: 4px;
   color: #000000;
   cursor: pointer;
   border: 1px transparent;
}
.signinbtn:hover {
   background: #000000;
   color: #ffffff;
   transition: background-color 0.5s ease-out, color 0.9s ease-out;
}

.nameinput[type='text'] {
   text-align: left;
   font: normal normal 300 22px/33px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: lowercase;
   opacity: 1;
   font-size: 22px;
   border: none;
}

@media only screen and (max-width: 768px) {
   .form {
      height: 100%;
      top: 0;
      border-radius: 0;
   }

   .h3 {
      font-size: 2rem;
      margin-top: 3rem;
   }

   .h2 {
      font-size: 1.5rem;
      margin-top: 2rem;
   }

   .h4 {
      margin-top: 3rem;
   }
   .nameinput {
      font-size: 1.5rem;
      height: 8vh;
      margin-bottom: 3rem;
   }
}
