body {
   overflow-x: hidden;
}

.form {
   width: 100%;
   display: flex;
   margin-top: 133px;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.List {
   list-style: none;
   padding: 0;
   margin: 0;
}

.inputbtnwrpr {
   display: flex;
   align-items: center;
   margin-bottom: 35px;
   max-width: 595px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.input {
   border: 2px solid #ddd;
   border-radius: 4px;
   padding-left: 24px;
   font-size: 22px;
   width: 487px;
   height: 76px;
   color: var(--unnamed-color-ffffff);
   text-align: left;
   font: normal normal 300 22px/33px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: capitalize;
   opacity: 1;
}

.button {
   max-width: 108px;
   height: 76px;
   background: #5efc8d 0% 0% no-repeat padding-box;
   border-radius: 4px;
   opacity: 1;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}
.btntxt {
   width: 64px;
   height: 45px;
   font-size: 32px;
   padding: 16px, 22, 15px, 22px;
   font: normal normal 300 32px/48px Poppins;
   letter-spacing: 0px;
   color: #000000;
   text-transform: capitalize;
   opacity: 1;
}
.h2 {
   color: rgb(0, 0, 0);
   width: 446px;
   height: 59px;
   font-size: 42px;
   text-align: center;
   margin-bottom: 27px;
}
